html,

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.851);
}

canvas {
  width: 100%;
  height: 100%;
  max-width: 100vmin;
  max-height: 100vmin;
  display: block;
}
